# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
.venv/
env/
venv/
backend/custom_rules/*.py
backend/custom_rules/*.questionnaire.json
backend/custom_rules/.*.tmp

# VSCode
.vscode/

# System
.DS_Store

# Env variables
.env
.env.local
